
body{
  background-image: url(./tetris/thumb-1920-66702.jpg);
  color: white;
  text-shadow: 2px 2px rgb(63, 63, 63) ;
  box-sizing: border-box;
}



header{
  text-align: center;
}

header h1{
  margin-top: 50px;
}

header div{
  display: none;
  text-shadow:none;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.container{
display: flex;
justify-content: center;

}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
  border: 1px solid darkgoldenrod;
  border-radius: 10px;
 
  
}

.middle-side{
  border: 12px solid #e9e1bd;
  border-radius: 10px;
  
}


.board-container {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(./tetris/gray.png);

}


.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  height: 20px;
  width: 20px;
}


.freeze-pixel{
  width: 200px;
  height: 20px;
}



.freeze-pixel div {
 
  display: inline;
  height: 20px;
  width: 20px;
}

.figure {
  background-color: rgb(243, 171, 16);
}

.left-side h5{
  margin-right: 50px;
  text-align: center;
}

.next-figure{
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 120px;
  width: 130px;
    border: 1px solid darkgoldenrod;
  border-radius: 10px; 


}

.next-figure div{
  height: 20px;
  width: 20px;

}


.btn{
  margin: 50px 40px;
  font-size: 1.5em;
  padding: 5px 30px;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.btn:hover{
  font-size: 1.5em;
  padding: 5px 30px;
  color: rgb(255, 255, 255);
  background-color: darkgoldenrod;
  border-color: rgb(255, 255, 255);
}

h3{
  text-align: center;
}

.right-side p{
  font-size: 3em;
  
}

.figure{
  background-image: url(./tetris/blue.png);
}



